* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Raleway", sans-serif;
}
button {
  border: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}

.container {
  display: flex;
}

.section-left {
  background: radial-gradient(
      50% 50% at 50% 100%,
      #ffb700 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #fdea02;
  height: 100vh;
  width: 27rem;
  margin-left: 3rem;
}

.logo {
  width: 25rem;
  padding: 2rem;
}
.heading-primary {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 5rem;
}
.navbar {
  padding: 0 1rem;
  font-size: 2rem;
}
.navbar-items {
  margin-top: 5rem;
}
.navbar-items li {
  margin: 2rem 0;
  font-weight: bold;
}
.navbar-items li:hover {
  text-decoration: underline;
}
.section-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 115rem;
  margin: 0 auto;
}
.banner {
  background-image: url("/img/banner.jpg");
  background-position: top;
  background-size: contain;
  height: 30rem;
}
.content {
  margin-top: 2rem;
  font-size: 1.8rem;
  text-align: center;
  line-height: 3rem;
}
.navbar-bottom {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  justify-content: center;
}
.navbar-bottom li {
  margin: 0 2rem;
}
.navbar-bottom li:hover {
  text-decoration: underline;
}

/* Responsiveness */
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .section-left {
    background: radial-gradient(
        50% 50% at 50% 100%,
        #ffb700 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      #fdea02;
    height: 20rem;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .logo {
    width: 15rem;
    padding: 1rem;
  }
  .heading-primary {
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 0.5rem;
  }
  .navbar {
    padding: 0;
    font-size: 1rem;
  }
  .navbar-items {
    margin-top: 1rem;
  }
  .navbar-items li {
    margin: 0.8rem 0;
    font-weight: bold;
  }
  .navbar-items li:hover {
    text-decoration: underline;
  }
  .section-right {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    margin: 1rem auto;
  }
  .banner {
    background-image: url("https://res.cloudinary.com/ayokunleao-com/image/upload/v1570316128/banner_attcid.jpg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 20rem;
  }
  .content {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
  }
  .navbar-bottom {
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
    justify-content: center;
  }
  .navbar-bottom li {
    margin: 0 2rem;
  }
  .navbar-bottom li:hover {
    text-decoration: underline;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .banner {
    background-image: url("/img/banner.jpg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
